<body class="text-center">

  <main class="form-signin">
    <form [formGroup]="loginForm">
      <img class="mb-3" src="../../../assets/auth-logo.jpg" alt="" width="270" height="150">
      <h1 class="h3 mb-3 fw-normal">Iniciar sesion </h1>

      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Ingresa tu nombre de usuario" formControlName="username">
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="Ingresa tu contraseña" formControlName="password">
          <mat-error *ngIf="password.hasError('minlength')">Mínimo 6 caracteres</mat-error>
      </mat-form-field>


      <button (click)="login()" class="button-login" mat-raised-button color="primary" [disabled]="!loginForm.valid">
          INGRESAR
      </button>

      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
    <a href="/register">¿Todavía no tiene una cuenta?</a>
  </main>



    </body>
