<div class="contenedor">
    <div class="img">
        <img style="height: 250px; width: 250px; " src="../../../assets/welcome.png" alt="">
    </div>

    <div class="text">
        <div class="title">
            <h1>Welcome to the Best WebSite Ever!</h1>
        </div>

        <div class="subtitle">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere doloribus dolorem delectus exercitationem alias </h4>
        </div>

        <div class="button">
            <button mat-raised-button color="primary" (click)="closeModal()"> GET STARTED</button>
        </div>
    </div>

</div>
